<br>
    <div>
      <nav class="navbar navbar-expand-lg bg-dark navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'Home', home_path, class: 'btn btn-light btn-lg'%>
          </li>
            <div class="text-right">
              <%= link_to 'Ir Ofertas Laborales', works_path, class: 'btn btn-info btn-lg' %>
            </div>
        </ul>
      </nav>
    </div>
    <div class="row">
        <div class="col-14">
            <hr>
            <div class='img-thumbnail text-center' style="margin-bottom:0">
              <%= image_tag("https://res.cloudinary.com/maravoly/image/upload/v1657424544/images/examen/bolsa_xmhuua.png", size: "800", class: 'mx-auto d-block', class: 'img-fluid') %>
              <%= image_tag('https://res.cloudinary.com/maravoly/image/upload/v1657426092/images/examen/oferta_laboral_r6zkg6.png',  size: "300", class: 'mx-auto d-block', class: 'img-fluid') %> 
            <%= image_tag("https://res.cloudinary.com/maravoly/image/upload/v1657423744/images/examen/Bienvenidos_bpiqqi.png", size: "300x300", class: 'mx-auto d-block', class: 'img-fluid') %>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h2 style="text-align:center" class="text-dark"><strong>Empresa</strong></h2>
                    <div class='img-thumbnail text-center' style="margin-bottom:0">
                      <%= image_tag("https://res.cloudinary.com/maravoly/image/upload/v1657273025/images/examen/EMPRESA_nxqydh.png", size: "470", class: 'mx-auto d-block', class: 'img-fluid') %>
                      </div> 
                    <p class="c-text">Lleva a tu empresa a otro nivel, publica tus ofertas de trabajo en nuestra página y opten al mejor candidato para tu empresa. </p>
                    <%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-info btn-lg' %>
                    <%= link_to "Ingresar", new_user_session_path, class: 'btn btn-info btn-lg' %>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h2 style="text-align:center" class="text-dark"><strong>Personas</strong></h2>
                    <div class='img-thumbnail text-center' style="margin-bottom:0">
                      <%= image_tag("https://res.cloudinary.com/maravoly/image/upload/v1657273030/images/examen/PERSONAS_jppwqu.png", size: "470", class: 'mx-auto d-block', class: 'img-fluid')  %>
                      </div> 
                    <p class="c-text">¡Postula y entra rápido al mercado laboral! Aprende a programar con ayuda de nuestros tutores y encuentra trabajo rápidamente.</p>
                    <%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-info btn-lg' %>
                    <%= link_to "Ingresar", new_user_session_path, class: 'btn btn-info btn-lg' %>
                  </div>
                </div>
              </div>
            </div><br>
            <hr>
        </div><br>
    </div>
</div>
            <div style="float: rigth", class="card mb-3">
              <%= image_tag('https://res.cloudinary.com/maravoly/image/upload/v1657421573/images/examen/Que-soluciones-tecnologicas-ha-de-tener-una-empresa-para-ser-moderna-1100x440_vgujke.jpg',  size: "2000x8000", class: 'mx-auto d-block', class: 'img-fluid') %> 
              <div class="card-body">
                <h3 class="display-4 text-info">SÚMATE A LA REVOLUCIÓN DIGITAL</h3><br>
                <h3 class="display-5 text-info">/*Comunidad de aprendizaje*/</h3>
                    <p class="lead text-secondary">(‘ Generamos una comunidad que comparte sus experiencias y aprendizajes de manera desinteresada y honesta. Compartir conocimiento y experiencia es parte del proceso de aprendizaje ’);</p>
                    <h3 class="display-5 text-info">{ Tiempo }</h3>      
                    <p class="lead text-secondary"> (‘ ¡Aprovecha tu tiempo! Contamos con cursos intensivos y flexibles para que en un corto periodo puedas entrar al mercado laboral o desarrollar tus proyectos ’);</p>            
                    <h3 class="display-5 text-info">/*Aprende Haciendo*/</h3>              
                    <p class="lead text-secondary">(‘ Talleres 100% prácticos. Lo que aprendas, lo harás con las manos ocupadas. Aprende las herramientas del futuro, trabajando con ellas. Construye ese proyecto que estás pensando ’);<%= image_tag("https://res.cloudinary.com/maravoly/image/upload/v1657424911/images/examen/te-esperamos_yxnby7.webp", size: "400", class: 'mx-auto d-block', class: 'img-fluid', style:"margin-left:700px") %></p>           
              </div>
              
            </div>

<hr>

    
    <h4 class="text-muted">Copyright &copy; @maravoly 2022</h4>