<!DOCTYPE html>
<html>
  <head>
    <title>BolsaBootcamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="col-12">
            <% if user_signed_in? %>
              <h2><b>Bienvenido: <%= current_user.email %>!!</b></h2>
              <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-lg', style:"margin-left:1000px" %><br> 
          <div>
      <div>
    <div>
          <% end %>
          <%= yield %>
  </body>
</html>
